body {
    margin: 0;
    background-color: white;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
    font-family: 'Times New Roman', Times, serif;
}

.header__titulo {
    font-size: 50px;
    color: white;
}

.header__nav-links {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.link:hover {
    text-decoration: underline;
}

.header__inferior {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0px 50px;
}

.header__subtitulo {
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
}

.main-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-section {
    font-weight: lighter;
    font-size: 30px;
    margin: 45px 0px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 370px;
}

.card__img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.card__subtitulo {
    font-weight: bold;
    font-size: 25px;
}

.card__descripcion {
    text-align: center;
    line-height : 30px;
}

.main-venta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-casa__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 370px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(214, 214, 214);
}

.card-casa__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-casa__textos {
    margin: 0px 15px;
    margin-top: 10px;
}

.card-casa__subtitulo {
    font-weight: lighter;
    font-size: 25px;
}

.card-casa__descripcion {
    line-height: 30px;
}

.card-casa__precio {
    color: rgb(113, 177, 31);
    font-weight: bold;
}

.card-casa__servicios {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 15px;
    margin-left: -45px;
}

.servicios {
    display: flex;
    width: 10%;
}

.servicios__img {
    margin-right: 15px;
}

.boton {
    background-color: rgb(223, 136, 23);
    width: 90%;
    padding: 15px 0px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.boton-verde {
    background-color: rgb(113, 177, 31);
    width: 150px;
    align-self: flex-end;
    margin-top: 45px;
}

.boton-contacto {
    width: 200px;
    font-size: 15px;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer__contacto {
    width: 100%;
    height: 50vh;
    background-image: url(../imagenes/encuentra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15%;
}

.footer__subtitulo {
    color: white;
    font-size: 40px;
}

.footer__info {
    color: white;
    font-size: 20px;
    margin-top: -15px;
}

.footer__navegacion-autor {
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0px 70px;
}

.footer__navegacion {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.footer__autor {
    color: white;
}